// colors
$colors: (
  // shades
  --global: (
    // shade - value
    -white: #fff,
    -black: #000,
    -grey: #aaaaaa,
  ),
  // shades
  --primary: (
    // shade - value
    -100: #e1e5f0,
    -200: #82ade0,
  ),
);